bcrypt==3.1.7
beautifulsoup4==4.9.0
blinker==1.4
bs4==0.0.1
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.9.2
dnspython==1.16.0
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Login==0.5.0
flask-mongoengine==0.9.5
Flask-WTF==0.14.3
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
lxml==4.5.0
MarkupSafe==1.1.1
mongoengine==0.19.1
numpy==1.18.3
passlib==1.7.2
pycparser==2.20
pymongo==3.10.1
rauth==0.7.3
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
soupsieve==2.0
urllib3==1.25.9
Werkzeug==1.0.1
WTForms==2.3.1
