{% extends "base.html" %}
{% block content %}
			<section id="banner">
				<div class="inner">
					<h1>Eduvise</h1>
					<p>Incentivizing Education</p>
				</div>
				<video autoplay loop muted playsinline src="/static/img/eduvize.mp4" style="width: 100% !important; height: 100% !important; max-height:70vw !important"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Eduvise is here when school can't be.</h2>
						<p>In these tough times, we're helping students stay motivated to improve themselves and to continue learning.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-book"><span class="label">Icon</span></a>
									<h3>Keep learning</h3>
								</header>
								<p>The world is hard-hit by the COVID-19 emergency, and schools are affected more than anything. Eduvise helps motivate students to keep learning even during this time of crisis.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-pencil"><span class="label">Icon</span></a>
									<h3>Services you already love</h3>
								</header>
								<p>Using popular services like Duolingo and Khan Academy, we make machine-learning based reccomendations for things to do and reward them with redeemable points.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Compete with friends</h3>
								</header>
								<p>One of the best motivations to study or self-improve is competition with your peers. Our leaderboard allows you to see how you've been sizing up to others.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Start using Eduvise tomorrow.</h2>
					<p>We hope to operate as a low-cost subscription-based service to pay for the tokens we hand out. Parents, schools, and governments will be able to purchase this for their students. </p>
				</div>
			</section>

{% endblock content %}